.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

:root {
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-text-color: #212121;
  --third-bg-color: #2f303a;
  --title-text-color: #757575;
  --main-background-color: #ffffff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font-style: normal;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: var(--main-background-color);
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.container {
  width: 100%;
  padding: 0 10px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    padding: 0 15px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 15px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 0 15px;
  }
}

.navigation,
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.navigation .logo,
.logo .logo {
  margin-right: 93px;
}

.web {
  color: var(--accent-color);
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
}

.header-list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  border: 1px solid #ececec;
  display: inline;
  text-align: center;
  transform: translate(0, 0) scale(1);
}

.header-list.is-open {
  display: block;
}

.header {
  position: relative;
}

[data-menu] {
  display: none;
}

[data-menu].is-open {
  display: block;
}

.navigation_list {
  display: block;
  margin-bottom: 60px;
}

.navigation_list-item:not(:last-child) {
  margin-bottom: 40px;
}

.navigation_list-link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation_list-link:hover,
.navigation_list-link:focus {
  color: var(--accent-color);
}

.current-nav-link {
  display: inline-block;
  position: relative;
  padding-bottom: 8px;
  color: var(--accent-color);
}

.current-nav-link::after {
  content: "";
  width: 100%;
  height: 4px;
  display: block;
  bottom: 0;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-button:hover, .menu-button:focus {
  fill: var(--accent-color);
}

.menu-button .icon-close {
  display: none;
}

.menu-button.is-open .icon-close {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.address {
  margin-left: auto;
  margin-bottom: 60px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.main-mail {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--title-text-color);
}

.main-mail:hover,
.main-mail:focus {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-mail:hover .main-mail_icon {
  fill: currentColor;
}

.main-tel {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--title-text-color);
}

.main-tel:hover,
.main-tel:focus {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-tel:hover .main-tel_icon {
  fill: currentColor;
}

.address_list-item:not(:last-child) {
  padding-bottom: 16px;
}

.main-mail_icon {
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  width: 16px;
  height: 12px;
  fill: #757575;
}

.main-mail_icon:hover {
  fill: currentColor;
}

.main-mail:hover,
.main-mail:focus .main-mail_icon {
  fill: currentColor;
}

.main-tel_icon {
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  width: 16px;
  height: 12px;
  fill: #757575;
}

.main-tel_icon:hover {
  fill: currentColor;
}

.main-tel:hover,
.main-tel:focus .main-tel_icon {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
  .header-list {
    height: 80px;
    display: flex;
    justify-content: space-between;
    position: relative;
    border: none;
    box-shadow: none;
  }
  .navigation_list {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
  }
  .navigation_list-item {
    align-items: center;
    justify-content: center;
  }
  .navigation_list-item:not(:last-child) {
    margin-bottom: 0;
  }
  .navigation_list-item:not(:last-child) {
    margin-right: 50px;
  }
  .navigation .logo {
    margin-right: 88px;
    margin-left: 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.167;
    letter-spacing: 0.03em;
  }
  .address_list-item:not(:last-child) {
    padding-bottom: 8px;
  }
  .address_list {
    padding-top: 21px;
  }
  .navigation_list-link {
    display: block;
    padding-bottom: 32px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
  }
  .current-nav-link::after {
    position: absolute;
    bottom: 0;
  }
  .main-mail {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.02em;
  }
  .main-tel {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.02em;
    margin-left: -17px;
  }
  .main-tel_icon {
    width: 14px;
    height: 10px;
  }
  .main-tel_icon {
    width: 10px;
    height: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
  }
  .main-mail_icon {
    width: 16px;
    height: 12px;
  }
  .main-tel_icon {
    width: 10px;
    height: 16px;
  }
  .main-tel {
    margin-left: 30px;
  }
  .main-mail {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .main-tel {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .address_list {
    display: flex;
    padding-top: 0;
  }
  .main-mail:hover,
  .main-mail:focus {
    color: var(--accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .main-mail:hover .main-mail_icon {
    fill: currentColor;
  }
}

.hero {
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-mob.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 480px 400px;
}

.hero-title {
  font-family: Roboto, sans-serif;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: #ffffff;
}

.hero-heading {
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding-top: 118px;
  padding-bottom: 118px;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px), screen and (min-resolution: 192dpi) and (min-width: 320px), screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-mob@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-tab.jpg");
    background-size: 768px 400px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-tab@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-desk.jpg");
    background-size: 1600px 600px;
    margin: 0 auto;
  }
  .hero-title {
    font-size: 44px;
    line-height: 1.5;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-white-color);
  }
  .hero-heading {
    padding-top: 200px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-desk@2x.jpg");
  }
}

/* ADVANTEGES */
.advantages {
  padding: 60px 0;
  width: 450px;
  min-height: 226px;
}

.icon-wrapper {
  width: 450px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 55px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.title {
  text-align: center;
  min-width: 270px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.descriptions {
  margin-top: 10px;
  min-height: 75px;
  font-family: Roboto, sans-serif;
  font-weight: 400px;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

@media screen and (min-width: 768px) {
  .advantages {
    display: flex;
    flex-wrap: wrap;
    width: 738px;
  }
  .advantages-list {
    display: flex;
    flex-wrap: wrap;
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
  .title {
    text-align: left;
  }
  .icon-wrapper {
    width: 354px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages {
    flex-wrap: nowrap;
    width: 1170px;
    padding: 94px -15px;
  }
  .advantages-list {
    width: calc((100% - 8 * 15px) / 4);
  }
  .icon-wrapper {
    width: 270px;
    margin-bottom: 30px;
  }
}

/* EMPLOYMENT */
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .employment-box {
    display: none;
  }
}

.employment {
  display: flex;
  padding-bottom: 94px;
}

.employment-list:not(:last-child) {
  margin-right: 30px;
}

.employment-list {
  position: relative;
}

.employment-position {
  position: absolute;
  text-align: center;
  padding: 27px 0;
  bottom: 0;
  width: 370px;
  min-height: 70px;
  color: white;
  background-color: rgba(47, 48, 58, 0.8);
}

.section-title {
  padding-top: 94px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  counter-reset: var(--primary-text-color);
  color: var(--primary-text-color);
  padding-bottom: 50px;
}

/* END EMPLOYMENT */
/* TEAM */
.team {
  background-color: #f5f4fa;
  padding-bottom: 60px;
}

.section-title {
  padding-top: 60px;
  padding-bottom: 30px;
}

.team-box {
  align-items: center;
}

.descriptions-list {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-name-title {
  text-align: center;
  margin-top: 30px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.descriptions-list .descriptions {
  text-align: center;
  min-height: 10px;
  margin-top: 10px;
  font-family: Roboto, sans-serif;
  font-weight: 400px;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.social-list-wrapper {
  margin-top: 16px;
  padding-bottom: 24px;
}

.social-list-svg {
  display: flex;
  justify-content: center;
}

.descriptions-list-svg:not(:last-child) {
  margin-right: 10px;
}

.social-link-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-svg:hover,
.social-link-svg:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.social-icon-svg {
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .descriptions-list:not(:first-child) {
    margin-top: 60px;
  }
}

@media screen and (min-width: 768px) {
  .team-box {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .descriptions-list {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team-box {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-bottom: 94px;
  }
  .descriptions-list:not(:last-child) {
    margin-right: 30px;
  }
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 60px;
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 90px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  color: #afb1b8;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover, .clients-link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.clients-link:hover .clients-icon {
  fill: currentColor;
}

.clients-icon {
  fill: currentColor;
}

.clients-icon:hover, .clients-icon:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .clients-items {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-items {
    width: calc((100% - 6 * 15px) / 3);
    margin: 15px;
  }
  .clients-list {
    margin: -15px;
  }
  .clients-link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list {
    justify-content: space-between;
    padding-bottom: 94px;
    margin-top: 20px;
  }
  .clients-link {
    width: 170px;
    height: 90px;
  }
}

/*MODAL BUTTONS*/
.modal-btn {
  cursor: pointer;
  min-width: 200px;
  padding: 10px 32px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: var(--primary-white-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*BUTTON FILTER*/
.button-section {
  display: flex;
  justify-content: center;
  padding-top: 94px;
  margin-bottom: 20px;
}

.button-section-link:not(:last-child) {
  padding-right: 8px;
}

.portfolio-button {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border-color: transparent;
  color: var(--primary-text-color);
  background-color: #f5f4fa;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 59px;
  padding: 6px 22px;
}

.portfolio-button:hover, .portfolio-button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

/* end button section*/
.portfolio-cards-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 94px;
  margin-top: 30px;
}

.portfolio-list {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-top: 30px;
  cursor: pointer;
}

.portfolio-list:nth-child(3n) {
  margin-right: 0px;
}

.portfolio-list:hover, .portfolio-list:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list .photo-transition {
  display: block;
}

.portfolio-list:hover .position-card {
  transform: translateY(0%);
}

.photo-transition:focus .position-card {
  transform: translateY(0%);
}

.photo-transition:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.position-img {
  position: relative;
  overflow: hidden;
  top: 0;
  left: 0;
}

.position-img .position-card {
  position: absolute;
  padding: 63px 24px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  color: #fff;
}

.portfolio-border {
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.portfolio-border .portfolio-title {
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 4px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.portfolio-border .portfolio-description {
  padding-left: 24px;
  padding-bottom: 20px;
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
/*# sourceMappingURL=main.css.map */