.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font-style: normal;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding-top: 0;
}

img {
  display: block;
}

body {
  background-color: var(--main-background-color);
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.navigation,
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.navigation .logo,
.logo .logo {
  margin-right: 93px;
}

.web {
  color: var(--accent-color);
}

.header {
  display: flex;
  border-bottom: 1px solid #ececec;
}

.navigation {
  display: flex;
  align-items: center;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #212121;
}

.navigation_list {
  display: flex;
  align-items: center;
}

.navigation_list-link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 0.875;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation_list-item {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.navigation_list-item:not(:last-child) {
  margin-right: 50px;
}

.navigation_list-link:hover, .navigation_list-link:focus {
  color: var(--accent-color);
}

.current-nav-link {
  color: var(--accent-color);
  position: relative;
}

.current-nav-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 76px;
  left: 453;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.address {
  display: flex;
  margin-left: auto;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.address_list {
  display: flex;
  align-items: center;
}

.address_list-item {
  display: flex;
}

.address_list-item:not(:last-child) {
  margin-right: 50px;
}

.main-mail {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--title-text-color);
}

.main-mail:hover, .main-mail:focus {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-mail_icon {
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  width: 16px;
  height: 12px;
  fill: #757575;
}

.main-mail:hover .main-mail_icon {
  fill: currentColor;
}

.main-tel {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--title-text-color);
}

.main-tel:hover, .main-tel:focus {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-tel_icon {
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  width: 10px;
  height: 16px;
  fill: #757575;
}

.main-tel:hover .main-tel_icon {
  fill: currentColor;
}

.hero {
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  text-align: center;
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-title {
  padding-bottom: 30px;
  font-family: Roboto, sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

/* ADVANTEGES */
.advantages {
  display: flex;
  justify-content: space-between;
  padding-top: 94px;
}

.advantages li:not(:last-child) {
  margin-right: 30px;
}

.advantages .icon-wrapper {
  width: 270px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.advantages .title {
  width: 270px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.advantages .descriptions {
  margin-top: 10px;
  font-family: Roboto, sans-serif;
  font-weight: 400px;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

/* END ADVANTEGES */
/* EMPLOYMENT */
.employment {
  display: flex;
  padding-bottom: 94px;
}

.employment-list:not(:last-child) {
  margin-right: 30px;
}

.employment-list {
  position: relative;
}

.employment-position {
  position: absolute;
  text-align: center;
  padding: 27px 0;
  bottom: 0;
  width: 370px;
  min-height: 70px;
  color: white;
  background-color: rgba(47, 48, 58, 0.8);
}

/* END EMPLOYMENT */
.section-title {
  padding-top: 94px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  counter-reset: var(--primary-text-color);
  color: var(--primary-text-color);
  padding-bottom: 50px;
}

/* TEAM */
.team {
  background-color: #f5f4fa;
}

.team-box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 94px;
}

.team:not(:last-child) {
  margin-right: 30px;
}

.team-name-title {
  text-align: center;
  margin-top: 30px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.team .descriptions-list {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team .descriptions-list .descriptions {
  margin-top: 10px;
  font-family: Roboto, sans-serif;
  font-weight: 400px;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team .descriptions-list .descriptions {
  text-align: center;
}

.team .descriptions-list-svg:not(:last-child) {
  margin-right: 10px;
}

.team .social-list-wrapper {
  margin-top: 16px;
  padding-right: 32px;
  padding-left: 32px;
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
}

.team .social-list-svg {
  display: flex;
  justify-content: space-around;
}

.team .social-link-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team .social-link-svg:hover, .team .social-link-svg:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.team .social-icon-svg {
  fill: currentColor;
}

/*END  TEAM */
/*clients-section */
.clients-list {
  display: flex;
  justify-content: space-between;
  padding-bottom: 94px;
}

.clients-list .clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  color: #afb1b8;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list .clients-link:hover, .clients-list .clients-link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.clients-list .clients-link:hover .clients-icon {
  fill: currentColor;
}

.clients-list .clients-icon {
  fill: currentColor;
}

.clients-list .clients-icon:hover, .clients-list .clients-icon:focus {
  color: var(--accent-color);
}

/*END clients-section */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer-wrapper {
  display: flex;
  align-items: baseline;
}

.footer-address {
  min-width: 231px;
  display: flex;
  flex-direction: column;
  margin-right: 70px;
}

.footer-address .footer-logo {
  display: inline-block;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 0.839;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.footer-list-item:not(:first-child) {
  padding-top: 9px;
}

.footer-list-item .footer-list-link {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-list-item .footer-list-nav {
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.footer-social-link {
  width: 206px;
}

.footer-social-link .footer-join-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--primary-white-color);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
}

.footer-social-link .footer-social-list {
  display: flex;
}

.footer-social-link .footer-social-list-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-link .footer-social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--primary-white-color);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link .footer-social-icon:hover, .footer-social-link .footer-social-icon:focus {
  background-color: var(--accent-color);
}

.footer-social-link .footer-social-icon .footer-social-svg {
  fill: currentColor;
}

/*FOOTER FORM*/
.footer-form {
  display: flex;
  margin-left: 93px;
}

.footer-form-field-container {
  display: flex;
  flex-direction: column;
  margin-right: 12px;
}

.footer-form-field-container .footer-form-title {
  display: block;
  margin-bottom: 20px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.footer-form-field-container .footer-form-field {
  padding-left: 16px;
  width: 347px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  background-color: transparent;
}

.footer-form-field-container .footer-form-field:focus {
  outline: none;
  border-color: var(--accent-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-button {
  display: flex;
  align-items: center;
  align-self: flex-end;
  padding: 10px 28px;
  margin-left: 12px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.footer-form-button-icon {
  margin-left: 10px;
  fill: var(--primary-white-color);
}

/*END FOOTER FORM*/
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  transition-property: opacity, visibility;
  transition-duration: 400ms;
  transition-timing-function: var(--timing);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.backdrop .modal {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  width: 528px;
  min-height: 581px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*MODAL BUTTONS*/
.modal-btn {
  cursor: pointer;
  min-width: 200px;
  padding: 10px 32px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: var(--primary-white-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 8px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover, .close-btn:focus {
  fill: var(--accent-color);
}

.modal-form-button {
  display: block;
  width: 200px;
  height: 50px;
  cursor: pointer;
  padding: 10px 55px;
  margin-right: auto;
  margin-left: auto;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: var(--primary-white-color);
  border: none;
  border-radius: 4px;
}

.modal-form-button:hover, .modal-form-button:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* END MODAL BUTTONS*/
.modal-title {
  display: inline-block;
  margin-bottom: 12px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-input-wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
}

.modal-form-field:not(:last-child) {
  margin-bottom: 10px;
}

.modal-form-field {
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.171;
  letter-spacing: 0.01em;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-input:focus + .user-icon {
  fill: var(--accent-color);
}

.user-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  margin-top: 4px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-policy-text {
  display: flex;
  align-items: center;
  margin-top: 9px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

.modal-form-policy-text::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  border: var(--primary-text-color) 1px solid;
  border-radius: 2px;
  margin-right: 8px;
}

.modal-policy-link {
  color: var(--accent-color);
  text-decoration: underline;
  padding-left: 4px;
}

.modal-form-policy:checked + .modal-form-policy-text::before {
  background-image: url("..//images/check.png");
  background-repeat: no-repeat;
  border: none;
  background-color: var(--accent-color);
}

:root {
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-text-color: #212121;
  --third-bg-color: #2f303a;
  --title-text-color: #757575;
  --main-background-color: #ffffff;
}

/*BUTTON FILTER*/
.button-section {
  display: flex;
  justify-content: center;
  padding-top: 94px;
  margin-bottom: 20px;
}

.button-section-link:not(:last-child) {
  padding-right: 8px;
}

.portfolio-button {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border-color: transparent;
  color: var(--primary-text-color);
  background-color: #f5f4fa;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 59px;
  padding: 6px 22px;
}

.portfolio-button:hover, .portfolio-button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

/* end button section*/
.portfolio-cards-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 94px;
  margin-top: 30px;
}

.portfolio-list {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-top: 30px;
  cursor: pointer;
}

.portfolio-list a {
  display: block;
}

.photo-transition:focus .position-card {
  transform: translateY(0%);
}

.photo-transition:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list:hover,
.portfolio-list:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list:hover .position-card {
  transform: translateY(0%);
}

.position-img {
  position: relative;
  overflow: hidden;
  top: 0;
  left: 0;
}

.position-card {
  position: absolute;
  padding: 63px 24px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  color: #fff;
}

.portfolio-border {
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.portfolio-list:nth-child(3n) {
  margin-right: 0px;
}

.portfolio-title {
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 4px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.portfolio-description {
  padding-left: 24px;
  padding-bottom: 20px;
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
/*# sourceMappingURL=main.css.map */