.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
}
.header-list {
  display: none;

  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;

  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  border: 1px solid #ececec;
  display: inline;
  text-align: center;
  transform: translate(0, 0) scale(1);

  &.is-open {
    display: block;
  }
}

.header {
  position: relative;
}
[data-menu] {
  display: none;
}
[data-menu].is-open {
  display: block;
}

.navigation_list {
  display: block;
  margin-bottom: 60px;
}

.navigation_list-item:not(:last-child) {
  margin-bottom: 40px;
}
.navigation_list-link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation_list-link:hover,
.navigation_list-link:focus {
  color: var(--accent-color);
}
.current-nav-link {
  display: inline-block;
  position: relative;
  padding-bottom: 8px;
  color: var(--accent-color);
}
.current-nav-link::after {
  content: "";
  width: 100%;
  height: 4px;
  display: block;

  bottom: 0;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}
.menu-button .icon-close {
  display: none;
}
.menu-button.is-open .icon-close {
  display: block;
}
.menu-button.is-open .icon-menu {
  display: none;
}

.address {
  margin-left: auto;
  margin-bottom: 60px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.main-mail {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--title-text-color);
}
.main-mail:hover,
.main-mail:focus {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-mail:hover .main-mail_icon {
  fill: currentColor;
}

.main-tel {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--title-text-color);
}
.main-tel:hover,
.main-tel:focus {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-tel:hover .main-tel_icon {
  fill: currentColor;
}
.address_list-item:not(:last-child) {
  padding-bottom: 16px;
}
.main-mail_icon {
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  width: 16px;
  height: 12px;
  fill: #757575;
}
.main-mail_icon:hover {
  fill: currentColor;
}
.main-mail:hover,
.main-mail:focus .main-mail_icon {
  fill: currentColor;
}
.main-tel_icon {
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  width: 16px;
  height: 12px;
  fill: #757575;
}
.main-tel_icon:hover {
  fill: currentColor;
}
.main-tel:hover,
.main-tel:focus .main-tel_icon {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
  .header-list {
    height: 80px;
    display: flex;
    justify-content: space-between;
    position: relative;
    border: none;
    box-shadow: none;
  }
  .navigation_list {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
  }
  .navigation_list-item {
    align-items: center;
    justify-content: center;
  }
  .navigation_list-item:not(:last-child) {
    margin-bottom: 0;
  }
  .navigation_list-item:not(:last-child) {
    margin-right: 50px;
  }
  .navigation .logo {
    margin-right: 88px;
    margin-left: 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.167;
    letter-spacing: 0.03em;
  }

  .address_list-item:not(:last-child) {
    padding-bottom: 8px;
  }
  .address_list {
    padding-top: 21px;
  }

  .navigation_list-link {
    display: block;
    padding-bottom: 32px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
  }
  .current-nav-link::after {
    position: absolute;
    bottom: 0;
  }
  .main-mail {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.02em;
  }
  .main-tel {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.02em;
    margin-left: -17px;
  }
  .main-tel_icon {
    width: 14px;
    height: 10px;
  }
  .main-tel_icon {
    width: 10px;
    height: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
  }
  .main-mail_icon {
    width: 16px;
    height: 12px;
  }
  .main-tel_icon {
    width: 10px;
    height: 16px;
  }
  .main-tel {
    margin-left: 30px;
  }
  .main-mail {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .main-tel {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .address_list {
    display: flex;
    padding-top: 0;
  }
  .main-mail:hover,
  .main-mail:focus {
    color: var(--accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .main-mail:hover .main-mail_icon {
    fill: currentColor;
  }
}
// .header {
//   display: flex;
//   border-bottom: 1px solid #ececec;
// }
// .navigation {
//   display: flex;
//   align-items: center;

//   font-family: Roboto, sans-serif;
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.143;
//   letter-spacing: 0.02em;
//   color: #212121;

//   &_list {
//     display: flex;
//     align-items: center;
//   }
//   &_list-link {
//     padding-top: 32px;
//     padding-bottom: 32px;
//     font-family: Roboto;
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 0.875;
//     letter-spacing: 0.02em;
//     color: var(--primary-text-color);

//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   }
// }

// .navigation_list {
//   &-item {
//     display: inline-block;
//     padding-top: 32px;
//     padding-bottom: 32px;
//   }
//   &-item:not(:last-child) {
//     margin-right: 50px;
//   }
//   &-link:hover,
//   &-link:focus {
//     color: var(--accent-color);
//   }
// }

// .current-nav {
//   &-link {
//     color: var(--accent-color);
//     position: relative;
//   }
//   &-link::after {
//     content: "";
//     display: block;
//     width: 100%;
//     height: 4px;
//     position: absolute;
//     top: 76px;
//     left: 453;
//     background-color: var(--accent-color);
//     border-radius: 2px;
//   }
// }

// .address {
//   display: flex;
//   margin-left: auto;

//   font-family: Roboto, sans-serif;
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.143;
//   letter-spacing: 0.02em;
//   color: var(--title-text-color);

//   &_list {
//     display: flex;
//     align-items: center;
//   }
//   &_list-item {
//     display: flex;
//   }
//   &_list-item:not(:last-child) {
//     margin-right: 50px;
//   }
// }

// .main-mail {
//   content: "";
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   color: var(--title-text-color);

//   &:hover,
//   &:focus {
//     color: var(--accent-color);
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   }

//   &_icon {
//     align-items: center;
//     justify-content: center;
//     margin-right: 10px;
//     width: 16px;
//     height: 12px;
//     fill: #757575;
//   }
//   &:hover &_icon {
//     fill: currentColor;
//   }
// }
// .main-tel {
//   content: "";
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   color: var(--title-text-color);

//   &:hover,
//   &:focus {
//     color: var(--accent-color);
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   }

//   &_icon {
//     align-items: center;
//     justify-content: center;
//     margin-right: 10px;
//     width: 10px;
//     height: 16px;
//     fill: #757575;
//   }
//   &:hover &_icon {
//     fill: currentColor;
//   }
// }
